.bigContainer {
  width: 100%;
  height: 1000vh;
}
.stickyBlock {
  position: sticky;
  top: 0;
  user-select: none;
}

.headSection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 18vh 6vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  .textTitle {
    position: relative;
    z-index: 3;
    font-size: 8.8vw;
    color: white;
  }
  .textContent {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 3;
    font-size: 1.3vw;
    color: white;
  }
  .button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 11.5vw;
    color: white;
    margin-top: 1.5vh;
    background-color: #f77f1e;
    border-radius: 4.4vw;
    padding: 2vh 1vh;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  .wrapper {
    position: absolute;
    top: -23vh;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vw;
    background: linear-gradient(
      90.26deg,
      #29232f 0.19%,
      rgba(130, 111, 149, 0) 99.74%
    );
  }
  img {
    position: absolute;
    top: -23vh;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vw;
  }
}

.contentBlock {
  width: 88vw;
  height: 266vh;
  border-radius: 3.3vw 3.3vw 0 0;
  background-color: white;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 4;
  padding: 9.4vh 6vw;
  display: flex;
  flex-direction: column;
  gap: 10.6vh;
  box-shadow: 0px -2px 10px -2px rgba(0, 0, 0, 0.1);
  .ourMission {
    display: flex;
    gap: 23.2vw;
  }
  .descText {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 300;
    color: rgba(170, 178, 189, 1);
    font-size: 1.1vw;
  }
  .titleText {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3.3vw;
    color: #363b61;
  }
  .textContent {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin-top: 2vh;
    font-size: 1.3vw;
    color: #434a53;
  }

  .textBlock {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
  }

  .circle {
    width: 12px;
    height: 12px;
    background-color: #f77f1e;
    border-radius: 50%;
    margin-top: 1.6vw;
  }

  .circleSecondPage {
    width: 12px;
    height: 12px;
    background-color: #363b61;
    border-radius: 50%;
    margin-top: 1.6vw;
  }

  .separator {
    background-color: rgba(230, 233, 237, 1);
    width: 88.2vw;
    height: 1px;
    border: 1px solid rgba(230, 233, 237, 1);
    margin: 0 auto;
  }
  .benefitsFirst {
    display: flex;
    flex-direction: row;
    gap: 30.5vh;
  }
  .benefits {
    padding-left: 30.5vw;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.4vw;
    color: #363b61;
  }
  .subtitle {
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5vw;
    color: #363b61;
  }
  .flexRowFirstPage {
    display: flex;
    gap: 5.7vw;
    margin-top: -1vw;
  }
  .flexRow {
    display: flex;
    gap: 5.7vw;
  }
  .flexCol {
    display: flex;
    flex-direction: column;
    gap: 7.1vh;
  }
  .flexColSecondSlide {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 7.1vh;
  }
}

.openPositions {
  width: 100vw;
  height: 61.3vh;
  background-color: rgba(11, 102, 194, 1);
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 4;
  border-radius: 3.3vw 3.3vw 0 0;
  .bgImg {
    width: 34.7vw;
    height: 43vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .content {
    width: 21vw;
    height: 29vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .title {
    font-size: 4.4vw;
    color: #f5f7fa;
  }
  .text {
    font-size: 1.3vw;
    color: #f5f7fa;
    font-weight: 100;
    font-family: "Bebas Neue", sans-serif;
  }
}

.animatedButton {
  position: relative;
  overflow: hidden;
  border-radius: 64px;
  background-color: rgba(245, 247, 250, 0.9);
  color: #363b61;
  padding: 2vh 0;
  width: 15vw;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  z-index: 1;
  border: none;
  .icon {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 0.7vw;
    position: relative;
    z-index: 1;
  }
}

.buttonBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 247, 250, 1);
}

.buttonText {
  position: relative;
  z-index: 1;
}
