.footerTransparent {
  background-color: none;
  padding: 20px 0;
  z-index: 3;
  color: white;
  position: relative;
  .footerNav .footerLinks li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
}

.footer {
  background-color: white;
  padding: 15px 0;
  position: sticky;
  z-index: 999;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo img {
  height: 50px;
  cursor: pointer;
}

.footerNav .footerLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.footerLinksA {
  text-decoration: none;
  color: #363b61;
  font-weight: 400;
  transition: color 0.3s;
  font-family: "Open Sans", sans-serif;
}

.requestDemoButton {
  background-color: #f77f1e;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 64px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 12vw;
  color: white;
  margin-top: 1.5vh;
  background-color: #f77f1e;
  border-radius: 4.4vw;
  padding: 2vh 1vh;
  text-align: center;
  cursor: pointer;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footerNav .footerLinks {
    flex-wrap: wrap;
    gap: 15px;
  }

  .footerExtras {
    align-self: stretch;
    justify-content: space-between;
    width: 100%;
  }
}
